{% extends 'templates.html' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <form action = "/auth_register" method="GET">
        <h1 class="text-center">Mathamphetamine's Project Planner<br>Register Page</h1>
        <br>
        <div class="input-group flex-nowrap mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Username</span>
          </div>
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="input-group flex-nowrap mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Password</span>
          </div>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="input-group flex-nowrap mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Full Name</span>
          </div>
          <input type="text" class="form-control" name="full_name" required>
        </div>
        <input class="btn btn-success btn-block mb-2" type="Submit" value="Submit" required/>
        {% with errors = get_flashed_messages() %}
          {% for error in errors %}
              <li class="text-danger">{{ error }}</li>
          {% endfor %}
        {% endwith %}
        <a href="/login">Return to login</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
