<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
  <title>Directions</title>
</head>

<nav class="navbar sticky-top navbar-light bg-light navbar-expand-sm">
  <a class="navbar-brand" href="welcome">Friday Cat Damage</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/traffic"> Traffic </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/weather">Weather</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/business_form">Businesses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth">Log out</a>
    </li>
  </ul>
</nav>





<body style="background: url('https://cdn.wallpapersafari.com/81/18/WewaSt.jpg') no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
  <div class="container">
    <div class="card border-10 shadow my-5">
      <div class="card-body p-5">

        <h1> How to Proceed to {{dest}} </h1>
        <h2> Total Distance: {{directions['distance']}} miles</h2>
        <h2> Estimated Time to Complete: {{directions['formattedTime']}}</h2>
        <br>
        <form action="/inputAddress">
          <label for="inputAddress">For more accurate directions, enter your address and ZIP code<br> Ex. 345 Chambers Street 10282: </label>
          <input type="text" name="address" class="form-control" id="inputAddress" placeholder="">
          <br>
          <button type="submit" class="btn btn-outline-primary" name="index" value="{{place}}">Use Address</button>

        </form>

        <br>

        <img src={{pic}} width="100%">
        {%for direction in directions['legs'][0]['maneuvers']%}
        <hr>
        {{direction['narrative']}}
        <p> Drive {{direction['distance']}} miles</p>

        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>
