<!-- Displays weather data -->

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
  <title>Weather</title>
</head>

<nav class="navbar sticky-top navbar-light bg-light navbar-expand-sm">
  <a class="navbar-brand" href="welcome">Friday Cat Damage</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/traffic"> Traffic </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/weather">Weather</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/business_form">Businesses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth">Log out</a>
    </li>
  </ul>
</nav>

<body
  style="background: url('https://mocah.org/uploads/posts/5381711-landscape-explore-astrophotography-astronomy-dramatic-sky-moody-mood-cloud-sky-lightning-dark-thunder-storm-thunder-thunderstorm-overcast-overcast-day-contrast-contrast-sky-mountain-range-moun.jpg') no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
  <div class="container">
    <div class="card border-10 shadow my-5">
      <div class="card-body p-5">

        <h2> Weather in your area: </h2>
        {% for day in weather %}
        <img src={{day["icon"]}} height="200px" width="200px" align="right">
        <h5> Weather on {{day["applicable_date"]}}: </h5>
        Conditions: {{day["weather_state_name"]}} <br>
        <b> Temperature data: </b> <br>
        <!-- |round(1, 'common') rounds to one decimal place-->
        Low: {{day["min_temp"]|round(1, 'common')}}C <br>
        High: {{day["max_temp"]|round(1, 'common')}}C <br> <br>
        Wind: {{day["wind_speed"]|round(1, 'common')}}mph {{day["wind_direction_compass"]}} <br>
        Humidity: {{day["humidity"]}}% <br>

        <hr>

        {% endfor %}

      </div>
    </div>
  </div>
</body>

</html>
